<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/roma.min.css")
        title Roman and Company
    body
        .page_bg
            img(src="./img/index_bg.jpg", alt="Index BG")
        header
            div
                a(href="#!")
                    img(src="./img/rom_logo.png", alt="Logo Roma and Company")
        section.main
            .info
                .main-info
                    span= "Добро пожаловать!"
                .main-info
                    p.main-info_item= "Мы рады приветствовать вас на сайте компании roman&co"
                .main-info
                    p.main-info_item= "здесь вы сможете ознакомиться с примерами наших работ"
                .main-info
                    p.main-info_item= "узнать более подробно о услунах , ценах и акциях"
                .main-info
                    p.main-info_item= "задать нам любые вопросы и вызвать специалиста на дом"
                .main-info
                    p.main-info_item= "мы будем рады получить ваш отзыв и рекомеднации для улучшения качества нашей работы."
            .nav

        footer