script(
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-3M9YDYD5MK"
    )
script= "window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());   gtag('config', 'G-3M9YDYD5MK');"

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(
    type= "image/x-icon"
    rel= "shortcut icon"
    href= favPath +"favicon.ico")
-for (var i = 0; i <= 3; i++) {
    link(
        type= "image/png"
        sizes= sizes[i]
        rel= "icon"
        href= favPath + "favicon-" + sizes[i] + ".png")
-}
link(
        type="image/png"
        sizes=sizes[4]
        rel="icon"
        href= favPath + "android-icon-" + sizes[4] + ".png")
-for (var i=5; i<=13; i++) {
    link(
        sizes= sizes[i]
        rel="apple-touch-icon"
        href= favPath + "apple-touch-icon-" + sizes[i] + ".png")
-}
link(
    rel="manifest"
    href=favPath + "manifest.json"
)
link(rel="stylesheet", href= cssPath + "main.min.css")
link(rel="stylesheet", href= cssPath + "gallery.css")
//- script(type="text/javascript" src= jsPath + "jquery-2.1.1.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(src=jsPath + "modernizr.js")
script(src= jsPath + "lightgallery-all.min.js")
script(type="text/javascript", src=jsPath + "gallery.js")
meta(
    name= "theme-color"
    content= navBarColor
)
title= titles